[Desktop Entry]
Name=Zeit
Comment=Qt GUI for crontab and at
Exec=zeit
Icon=zeit
Terminal=false
Type=Application
Categories=Utility;System;
StartupNotify=true
